/* Root/Colors */
:root {
    --link-color: #006080;
    --link-active-color: #600080;
    --project-title: #800020;
    --header-bg-1: #f0899c;
    --header-bg-2: #acddf4;
    --header-bg-3: #d2e488;
    --header-bg-4: #dda9ce;
    --affil-bg: rgb(99, 99, 99);
    --orcid: #A6CE39;
}

/* Main */
body            { font-family: "Source Sans Pro"; margin: 0px; }
.center         { display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; }
.force-en-font  { font-family: "Source Sans Pro"; }
.mono           { font-family: "Roboto Mono"; font-size: smaller; /* font-size-adjust: 0.45; */ }

a[href^="mailto:"]:link, a[href^="mailto:"]:visited { color: #09c; text-decoration: none; }
a[href^="mailto:"]:hover { color: #006080; }
a[href^="mailto:"]:active { color: #06c; }

.noscroll { height: 100%; overflow-y: hidden; }

/* Header */
#header
{
    text-align: center;
    background-color: #454545;
    background-image: url('../assets/background.jpg');
    background-size: cover;
    width: 100%;
    /* padding-top: 20px;
    padding-bottom: 20px;*/
    color: white;

    -webkit-transition: all 500ms cubic-bezier(0.86, 0, 0.07, 1);
    transition:         all 500ms cubic-bezier(0.86, 0, 0.07, 1);
    height: auto;
    z-index: 100;
}
#header .center
{
    background-color: transparent;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    padding: 20px;
    -webkit-transition: all 1000ms ease;
    transition:         all 1000ms ease;
    opacity: 0;
}

#header .center.loaded { background-color: rgba(0,0,0,0.7); opacity: 1; }

#header a:link, #header a:visited, #header a:hover, #header a:active { color: white; text-decoration: none; }

/* HEADER WRAP */
#header .center #header-wrap { display: inherit;}
#header .center.big #header-wrap { display: block; }

/* SMALL HEADER */
#header .center.small                               { opacity: 1; background-color: rgba(0,0,0,0.7); -webkit-transition: all 500ms ease; transition: all 500ms ease; }
#header .center.small #linkbtn_expand span          { display: none; }
#header .center.small #profile-photo .photoflank    { display: none; }
#header .center.small #name_expertise               { align-items: flex-start; justify-content: flex-start; text-align: left; padding-left: 20px; }
#header .center.small #name                         { font-size: 1.5em; }
#header .center.small #small_expertise              { font-size: 0.8em; }

#header .center.small #languages            { order: 1; text-align: right;}
#header .center.small #languages a          { display: block; margin-left: 10px; color : #777; transition: all 100ms ease; }
#header .center.small #languages a:hover    { background-color: none;  color: white; }

#header .center.small #header-left  { display: flex; flex-flow: row; justify-content: flex-start; align-items: center; }
#header .center.small #header-right { display: flex; flex-flow: row; justify-content: flex-end; align-items: center; }

/* Header > Link Buttons */
#linkbuttons                        { display: flex; width: 100%; margin-top: 10px; justify-content: center; align-items: center; }
#header .center.small #linkbuttons  { justify-content: flex-end; align-items: flex-end; }

#linkbuttons a                      { display: inline-block; padding: 5px 10px; font-size: 2em; transition: 0.1s ease; }
#linkbuttons a#linkbtn_expand       { margin: 0px 20px 5px 20px; padding: 0px 10px; }
#linkbuttons a#linkbtn_expand span  { font-size: 0.5em; }
#linkbuttons a:hover                { background-color: white; color: #454545; }

@media screen and (max-width: 560px) { 
    #header .center.small #linkbuttons { font-size: 2vw; display: flex; flex-flow: column; align-items: center; }
    #header .center.small #linkbuttons #linkbtn_expand { margin: 5px 0px; }
}

@media screen and (max-width: 400px) {
    #header .center.small #name_expertise   { font-size: 3.5vw; } 
}

/* Full Header */
#header span
{
    display: inline-block;
    width: 100%;
    -webkit-transition: all 500ms ease;
    transition:         all 500ms ease;
}

#header span#name               { font-weight: 600; }
#header span#expertise          { font-weight: 300; }
#header span#small_expertise    { font-weight: 300; }
#header span#countries          { font-weight: 300; }

#header #profile-photo      { -webkit-transition: all 500ms ease; transition: all 500ms ease; }
#header #profile-photo img  { -webkit-transition: all 500ms ease; transition: all 500ms ease; height: 5em; width: 5em; border-radius: 50%; }

#header.full { height: 100%; position: fixed; top: 0; }
    #header .center.big { flex-direction: column; }
    #header.full span#name              { font-size: 3em; padding: 10px 0px;}
    #header.full span#expertise         { font-weight: 300; font-size: 1.5em; }
    #header.full span#small_expertise   { font-weight: 300; font-size: 1em; }
    #header.full span#countries         { font-size: 1.7em; padding: 15px 0px;}

    #header.full #profile-photo .photoflank { height: 0px; border-top: 1px solid white; width: 10em; display: inline-block; margin: 0px 1.5em; }

    #header.full #languages         { margin-top: 10px; }
    #header.full #languages a       { width: auto; padding: 2.5px 5px; transition: ease 0.1s; }
    #header.full #languages a:hover { background-color: white; color: #454545; border-radius: 50%; }

    /* Photo */
    #header.full #profile-photo
    {
        /* margin-top: -5em;
        z-index: 1000;
        position: absolute;
        margin-left: 2em; */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 10em;
    }

    #header.full #profile-photo img         { transform: scale(2); }
    #header.full #profile-photo .photoflank { width: 10em; margin: 0px 1.5em; }

/* Main Body */
#body { 
    padding: 0px 20px; 
    max-width: 600px;
    margin: 0 auto;
}
#body:after { content: ""; height: 100px; display: inline-block; }
#body table                                 { border-collapse: collapse; outline: none; }
#body table tr                              { outline: none; }
#body table tr td                           { outline: none; }
#body table tr td:nth-child(2n-1)           { font-weight: 300; padding-right: 2em; vertical-align: text-top; }
.hl_zh #body table tr td:nth-child(2n-1)    { font-weight: 700; }
#body .bulk { margin: 0px 20px; }

#body a
    { display: inline-block; transition: all 150ms ease; -webkit-transition: all 150ms ease; font-family: "Source Sans Pro", sans-serif; }
#body a:link,  
#body a:visited 
{ 
    color: var(--link-color); 
    text-decoration: none; 
    background-image: linear-gradient(var(--link-color), var(--link-color));
    background-size: 0% 1.5px;
    background-position: left bottom;
    background-repeat: no-repeat;
    padding-bottom: 2px;
}
#body a:hover  { background-size: 100% 1.5px; }
#body a:active { background-size: 100% 1.5px; background-image: linear-gradient(var(--link-active-color), var(--link-active-color)); color: var(--link-active-color); }

/* Projects */
#body #projects .content                        { display: flex; flex-flow: column wrap; }
#body #projects .content .project               { 
    max-width: 100%; 
    margin: 15px 0px; 
    display: flex; 
    flex-flow: row wrap;
    justify-content: space-between;
}
#body #projects .content .project:first-child   { margin-top: 0px; }
#body #projects .content .project .project_name { font-family: 'Roboto-Mono', monospace; display: inline-block; margin-right: 10px; color: var(--project-title); }
#body #projects .content .project .project_link { display: inline-block; }

#body #projects .content .project .project_desc { text-align: justify; word-wrap: break-word; hyphens: auto; width: 100% }

/* Scientific Works */
#scientific_works .content #orcid { display: flex; flex-flow: row; justify-content: flex-start; align-items: center; align-content: flex-start; border-bottom: 1px dashed #777; padding-bottom: 10px; margin-bottom: 10px;}
#scientific_works .content #orcid *    { margin-right: 0.5em; }
#scientific_works .content #orcid span { padding-bottom: 2px; }
#scientific_works .content #orcid *:first-child { margin-right: calc(1em + 10px); font-weight: bold; font-size: smaller; padding: 2px 5px; background-color: var(--orcid); position: relative; }
#scientific_works .content #orcid *:first-child:after { content: ""; border-bottom: 10px solid transparent; border-left: 10px solid var(--orcid); position: absolute; right: -10px; top: 0; bottom: 0; margin: auto; } /* https://css-tricks.com/snippets/css/css-triangle/ */
#scientific_works .content #orcid a { font-size: smaller; }
#scientific_works .content .sciwork { display: flex; flex-flow: column; }
#scientific_works .content .sciwork .sciwork_type { font-size: smaller; margin-bottom: 10px;}
#scientific_works .content .sciwork .sciwork_type .sciwork_year { margin-left: 10px; }
#scientific_works .content .sciwork .sciwork_type .sciwork_year:before {content: "[";}
#scientific_works .content .sciwork .sciwork_type .sciwork_year:after  {content: "]";}
#scientific_works .content .sciwork .sciwork_desc { hyphens: auto; }
#scientific_works .content .sciwork .sciwork_desc .affiliation { font-weight: bold; font-size: smaller; background-color: var(--affil-bg); color: white; display: inline-block; padding: 2px 5px; margin-right: 5px; }

/* Contact */
#contact #socials { font-size: 2em; padding: 5px; }
#contact #socials a { padding: 5px; }
#contact #socials a:first-child { padding-left: 0px; }
#contact #socials a:hover i.fab { color : var(--link-color); }
#contact #socials a:link .fa-linkedin, #contact #socials a:visited .fa-linkedin { color: #0A66C2; }
#contact #socials a:link .fa-facebook-square, #contact #socials a:visited .fa-facebook-square { color: #046FE5; }
#contact #socials a:link .fa-github-square, #contact #socials a:visited .fa-github-square { color: #0F0E0F; }


/* Themeing */
#body .bulk h2  { 
    font-weight: 300; 
    background-size: 0% 2.5ex; 
    display: inline-block; 
    background-position: left bottom; 
    background-repeat: no-repeat; 
    transition: all 200ms ease; 
    -webkit-transition: all 200ms ease; 
    padding-right: 15px; 
    margin-left: -15px;
}
#body .bulk h2:before { content: ""; display: inline-block; position: relative; left: 0px; width: 5px; height: 2.5ex; vertical-align: bottom; margin-right: 10px; } 
#body .bulk h2:hover  { background-size: 100% 2.5ex; cursor: pointer; }
#body .bulk:nth-child(4n+1) h2 { background-image: linear-gradient(var(--header-bg-1), var(--header-bg-1)); }
#body .bulk:nth-child(4n+1) h2:before { background-color: var(--header-bg-1); }
#body .bulk:nth-child(4n+2) h2 { background-image: linear-gradient(var(--header-bg-2), var(--header-bg-2)); }
#body .bulk:nth-child(4n+2) h2:before { background-color: var(--header-bg-2); }
#body .bulk:nth-child(4n+3) h2 { background-image: linear-gradient(var(--header-bg-3), var(--header-bg-3)); }
#body .bulk:nth-child(4n+3) h2:before { background-color: var(--header-bg-3); }
#body .bulk:nth-child(4n) h2 { background-image: linear-gradient(var(--header-bg-4), var(--header-bg-4)); }
#body .bulk:nth-child(4n) h2:before { background-color: var(--header-bg-4); }

/* Footer */
#footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    position: fixed;
    bottom: 0; left: 0; right: 0;
    background-color: #262626;
    color: #eee;
    padding: 10px 5px;
    font-size: 0.8em;
    z-index: 90;
    transition: all 600ms ease; -webkit-transition: all 600ms ease;
    opacity: 1;
}
#footer.full { opacity: 0; }
#footer a { color: #fff; text-decoration: none; transition: all 150ms ease; -webkit-transition: all 150ms ease; }
#footer a:link, #footer a:visited
    { background-image: linear-gradient(#fff, #fff); background-size: 0% 1.5px; background-position: left bottom; background-repeat: no-repeat; padding-bottom: 2px; }
#footer a:hover, #footer a:active { background-size: 100% 1.5px; }
#footer a:active                  { background-image: linear-gradient(#ddd, #ddd); color: #ddd; }
#footer div { display: flex; margin: 0px 10px; align-items: center;}
#footer #progress-pride-flag {
    background-image: url(../assets/progress_pride.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 2.5ex;
    width: calc(2.5ex * (512/325));
    display: inline-block;
    margin-left: 10px;
}
