/* Main */
body            { font-family: "Source Sans Pro"; margin: 0px; }
.center         { display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; }
.force-en-font  { font-family: "Source Sans Pro"; }
.mono           { font-family: "Roboto Mono"; font-size: smaller; /* font-size-adjust: 0.45; */ }

a[href^="mailto:"]:link, a[href^="mailto:"]:visited { color: #09c; text-decoration: none;}
a[href^="mailto:"]:hover { color: #006080; }
a[href^="mailto:"]:active { color: #06c; }

/* Header */
#header
{
    text-align: center;
    background-color: #454545;
    background-image: url('../assets/background.jpg');
    background-size: cover;
    width: 100%;
    /* padding-top: 20px;
    padding-bottom: 20px;*/
    color: white;

    -webkit-transition: all 500ms cubic-bezier(0.86, 0, 0.07, 1);
    transition:         all 500ms cubic-bezier(0.86, 0, 0.07, 1);
    height: auto;
}
#header .center
{
    background-color: transparent;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    padding: 20px;
    -webkit-transition: all 1000ms ease;
    transition:         all 1000ms ease;
    opacity: 0;
}

#header .center.loaded { background-color: rgba(0,0,0,0.7); opacity: 1; }

#header a:link, #header a:visited, #header a:hover, #header a:active { color: white; text-decoration: none; }

/* SMALL HEADER */
#header .center.small                               { opacity: 1; background-color: rgba(0,0,0,0.7); -webkit-transition: all 500ms ease; transition: all 500ms ease; }
#header .center.small #linkbtn_expand span          { display: none; }
#header .center.small #profile-photo .photoflank    { display: none; }
#header .center.small #name_expertise               { align-items: flex-start; justify-content: flex-start; text-align: left; padding-left: 20px; }
#header .center.small #name                         { font-size: 1.5em; }
#header .center.small #small_expertise              { font-size: 0.8em; }

#header .center.small #languages            { order: 1; text-align: right;}
#header .center.small #languages a          { display: block; margin-left: 10px; color : #777; transition: all 100ms ease; }
#header .center.small #languages a:hover    { background-color: none;  color: white; }

/* Link Buttons */
#linkbuttons                        { display: flex; width: 100%; margin-top: 10px; justify-content: center; align-items: center; }
#header .center.small #linkbuttons  { justify-content: flex-end; align-items: flex-end; }

#linkbuttons a                      { display: inline-block; padding: 5px 10px; font-size: 2em; transition: 0.1s ease; }
#linkbuttons a#linkbtn_expand       { margin: 0px 20px 5px 20px; padding: 0px 10px; }
#linkbuttons a#linkbtn_expand span  { font-size: 0.5em; }
#linkbuttons a:hover                { background-color: white; color: #454545; }


/* Full Header */
#header span
{
    display: inline-block;
    width: 100%;
    -webkit-transition: all 500ms ease;
    transition:         all 500ms ease;
}

#header span#name               { font-weight: 600; }
#header span#expertise          { font-weight: 300; }
#header span#small_expertise    { font-weight: 300; }
#header span#countries          { font-weight: 300; }

#header #profile-photo      { -webkit-transition: all 500ms ease; transition: all 500ms ease; }
#header #profile-photo img  { -webkit-transition: all 500ms ease; transition: all 500ms ease; height: 5em; width: 5em; border-radius: 50%; }

#header.full { height: 100%; position: fixed; }
    #header .center.big { flex-direction: column; }
    #header.full span#name              { font-size: 3em; }
    #header.full span#expertise         { font-weight: 300; font-size: 1.5em; }
    #header.full span#small_expertise   { font-weight: 300; font-size: 1em; }
    #header.full span#countries         { font-size: 1.5em; }

    #header.full #profile-photo .photoflank { height: 0px; border-top: 1px solid white; width: 10em; display: inline-block; margin: 0px 1.5em; }

    #header.full #languages         { margin-top: 10px; }
    #header.full #languages a       { width: auto; padding: 2.5px 5px; transition: ease 0.1s; }
    #header.full #languages a:hover { background-color: white; color: #454545; border-radius: 50%; }

    /* Photo */
    #header.full #profile-photo
    {
        /* margin-top: -5em;
        z-index: 1000;
        position: absolute;
        margin-left: 2em; */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 10em;
    }

    #header.full #profile-photo img         { transform: scale(2); }
    #header.full #profile-photo .photoflank { width: 10em; margin: 0px 1.5em; }

/* Main Body */
#body                                       { padding: 0px 20px; display: flex; flex-wrap: wrap; justify-content: center; align-items: flex-start;}
#body h2                                    { font-weight: 300; border-left: 5px solid #09c; padding-left: 10px; margin-left: -15px; }
#body table                                 { border-collapse: collapse; outline: none; }
#body table tr                              { outline: none; }
#body table tr td                           { outline: none; }
#body table tr td:nth-child(2n-1)           { font-weight: 300; padding-right: 2em; vertical-align: text-top;}
.hl_zh #body table tr td:nth-child(2n-1)    { font-weight: 700; }
#body .bulk { margin: 0px 20px; }

#body #personal_info #dob_place { display: block; font-size-adjust: 0.4; }

/* Themeing */
#body #skills_and_abilities h2 { border-left-color: #90c; }
